name: Pipeline

on: [push]

jobs: 
  test:
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v1
    - name: run the app
      run: |
        python hello.py
  
  build: 
    needs: [test]
    runs-on: ubuntu-latest
    steps: 
    - uses: actions/checkout@v1
    - name: Create an artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: build
        path: .
      
